.about {
    display: flex;
    flex-direction: column;
}

.about-paragraph {
    color: $color_text_white;
    
}

// 1184px
@media screen and (min-width: 74rem) {
.about {
    display: flex;
    flex-direction: row;
}
}