.about {
    display: flex;
    flex-direction: column;
}

.about-paragraph {
    color: $color_text_white;
    padding-bottom: 6rem;
    max-width: 56.25rem;
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
}

.about-para-first, 
.about-para-second, 
.about-para-third {
    padding: 1rem;
    line-height: 1.7rem; 
    h2 {
        text-align: center;
    }
}

.about-para-second {
    ul {
        margin: 0;
        padding: 0;
    }
    p {
        padding: 0;
    }
}

.lang-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 2rem;
    .svg-icon {
        flex-basis: calc(33.333% - 2rem);
        width: 3rem;
        height: 3rem;
        fill: $color_text_white;
        transition: fill 0.3s ease, transform 0.3s ease;
    }
    
}.icon:hover::after {
    content: attr(data-name); /* Use the data-name attribute as text */
    position: absolute;
    bottom: -2rem; /* Position the text below the icon */
    left: 50%;
    transform: translateX(-50%);
    // background-color: #333;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 1rem;
    font-family: $font_hero;
    font-weight: 900;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.icon:hover::after {
    opacity: 1; /* Fade in the text */
}

.icon {
    position: relative;
    flex-basis: calc(33.333% - 2rem);
}

.svg-icon:hover {
    fill: $color_orange;
}

@media screen and (min-width: 43.75em) {
    .paragraph-wrapper {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        .about-para-first, .about-para-second {
            width: 50%;
        }
    }
    .lang-icons {
        .icon {
            flex-basis: calc(25% - 2rem);
        }
    }
}


@media screen and (min-width: 62.5em) {
    .about-paragraph {
        max-width: 75rem;
        margin: 0 auto;
        gap: 3rem;
        .about-para-first {
            width: 60%;
        }
        .about-para-second{
            width: 40%;           
        }
    }
    .lang-icons {
        .icon {
            flex-basis: calc(16.666% - 2rem);
        }
    }
}