#contact {
    // height: 100vh;
}

.contact-title {    
    font-family: $font_hero;
    font-weight: lighter;
    text-align: center;
    font-size: 7vw;
    h2 {
        // margin: 6rem 0 8rem;
    }
    .font-comp {
        font-size: 11vw;
    }
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-bottom: 10rem;
    p {
        font-size: .8rem;
    }

    button {
        color: $color_text_white;
        background-color: $color__background-body;
        border: solid 2px;
        border-radius: 25px;
        min-width: 20rem;
        padding: 1rem 0;
        font-family: $font_text;
        font-size: 1rem;
    }
    button:hover {
        
    }
    
}

// #copy-email-button.copied {
//     font-family: $font_comp2;
//     font-size: 1.5rem;
// }

// SOCIAL MENU
.social-links {
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 0;
		li {
			padding: 0 2rem 1rem 0;
			font-family: $font_hero;
			font-size: 1.4rem;
			a:hover {
				text-decoration: line-through 3px $color_orange;
			}
		}
	}
}
