#contact {
    height: 105vh;
    border-top: 1px solid $color_text_white;
}

.contact-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {    
    font-family: $font_hero;
    font-weight: lighter;
    text-align: center;
    font-size: 6vw;
    h2 {
        margin: 0 2rem;
    }
    .font-comp {
        font-size: 9vw;
    }
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-bottom: 10rem;
    p {
        font-size: .8rem;
    }

    button {
        color: $color_text_white;
        background-color: $color__background-body;
        border: solid 2px;
        border-radius: 25px;
        min-width: 15rem;
        padding: 1rem 0;
        font-family: $font_text;
        font-size: 1rem;
    }   
}

#copy-email-button.copied {
    color: $color__background-body;
    background-color: $color_orange;
}

// SOCIAL MENU
.social-links {
	
    margin-top: 3rem;
    ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 0;
		li {
			padding: 0 2rem 1rem 0;
			font-family: $font_hero;
			font-size: 1.4rem;
			a:hover {
				text-decoration: line-through 3px $color_orange;
			}
		}
	}
}
