#contact {
    height: 95lvh;
    border-top: 1px solid $color_text_white;
    padding-bottom: 3rem;
}

.contact-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 0;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-title {
    font-family: $font_hero;
    font-weight: lighter;
    text-align: center;

    h2 {
        font-size: 10vw;
        margin: 0 2rem;
        text-shadow:
            1px 1px 0 #000,
            2px 2px 0 #000,
            3px 3px 0 #000;
    }
}

.logo-contact {
    font-family: $font_aktura;
    font-size: 5rem;
    margin: 0;
    margin-top: -3rem;
    pointer-events: none;
    text-shadow: 
    1px 1px 0 transparent,
    2px 2px 0 #000,
    3px 3px 0 #000;
    background: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(98, 98, 98),
      $color_text_white,
      rgb(35, 35, 35),
      rgb(22, 22, 22),
      $color_text_white,
      rgb(98, 98, 98),
      rgb(255, 255, 255),
      rgb(50, 50, 50),
      rgb(29, 29, 29),
    );
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: sTransition 7s ease-in-out infinite alternate;
    animation-delay: .5s;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: .8rem;
    }

    button {
        color: $color_text_white;
        pointer-events: all;
        background-color: transparent;
        border-radius: 25px;
        min-width: 15rem;
        font-family: $font_text;
        font-size: 1rem;
        font-weight: 600;
        border: 2px solid;
        padding: 1em 0.5em;
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        cursor: pointer;
    }

    button:active {
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;

    }
}

.scroll-top {
    align-self: flex-end;
}

.scroll-top-project {
    text-align: right;
    padding-bottom: 1.1rem;
}

// SOCIAL MENU
.social-links {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        gap: 3rem;

        li {
            font-family: $font_hero;
            font-size: 1.5rem;
            font-weight: 600;

            a {
                text-shadow:
                    1px 1px 0 #000,
                    2px 2px 0 #000;
            }

            a:hover {
                text-decoration: underline 2px $color_orange;
                @include shadow-link;
            }
        }
    }
}

@media screen and (max-width: 53em) {
    .contact-title {
        h2 {
            font-size: 14vw;
    }
}
}