.entry-header-home {
    height: 95lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.entry-title-home {
    position: fixed;
    font-family: $font_hero;
    font-size: clamp(3rem, 13.5vw, 16rem);
    line-height: clamp(4rem, 11vw, 14rem);
    padding: 0 2rem;
    z-index: -50;
    text-shadow: 
    1px 1px 0 transparent,
    2px 2px 0 #000,
    3px 3px 0 #000;
    // 4px 4px 0 #000;
    // 5px 5px 0 #000,
    // color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(98, 98, 98),
      $color_text_white,
      rgb(35, 35, 35),
      rgb(22, 22, 22),
      $color_text_white,
      rgb(98, 98, 98),
      rgb(255, 255, 255),
      rgb(50, 50, 50),
      rgb(29, 29, 29),
    );
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: sTransition 9s ease-in-out infinite alternate;
    animation-delay: .5s;
    text-transform: uppercase;
    
    .orange {
      color: $color_orange; 
    }
  }

@keyframes sTransition {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* Hide the content before animation */
.fade-in {
  opacity: 0;
  animation: fadeInEffect 5s forwards;
}

/* Define the fade-in keyframe animation */
@keyframes fadeInEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 62.5em) {
    .entry-header-home {
        height: 87lvh;
    }
}

