.projects {
    margin: 6rem auto;
    article {
        margin-bottom: 6rem;
        h2 {
            font-family: $font_fat;
            font-size: 2rem;
            font-weight: 600;
        }
        img {
            width: 100%;
            max-width: 31.25rem;
        }
        p {
            text-align: end;
        }
    }
}

.arrow {
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
  }
  .arrow span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    line-height: 0;
  }
  .arrow span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: transparent;
    font-size: 2rem;
  }
  .arrow:hover span {
    padding-right: 25px;
  }
  .arrow:hover span:after {
    opacity: 1;
    right: 0;
    color: $color_orange;
  }