.entry-title {
    font-family: $font_hero;
    font-size: 6rem;
    text-align: center;
    padding: 5rem;
    text-shadow: 
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000;
}

.project-thumbnail {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.project-thumbnail img {
    width: 100%;
}

.project-gallery {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    img {
        margin-bottom: 2rem;
    }
}

.project-images {
    margin: 0 auto;
    max-width: 60rem;
    img {
        border: 1px solid $color_text_white;
        margin-top: 4rem;
    }
}

.project-mobile-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    gap: 6rem;
    margin: 0 auto;
    max-width: 50rem;
    img {
        max-width: 20rem;
    }
}

.project-links {
    margin-top: 3rem;
     // text-align: center;
    a{
        font-size: 1.5rem;
        font-family: $font_hero;
        padding-right: 2rem;
    }
	a:hover {
		text-decoration: underline 2px $color_orange;
	}

}

.next-project {
    height: 70lvh;
    border-top: 1px solid $color_text_white;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8rem 1fr;
    h2 {
        font-family: $font_hero;
        font-size: 2rem;
        text-align: start;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 5rem;
        grid-column: 2;
        text-shadow:
        1px 1px 0 #000,
        2px 2px 0 #000,
        3px 3px 0 #000;
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        grid-column: 2;
        grid-row: 2;
    }
    a:hover {
        font-weight: bold;
        img {
            border: 2px solid $color_orange;
        }
    }
        img {
            margin: 1rem 0 0;
            border: 2px solid black;
            border-radius: 8px;
        }
}


// .font-comp {
//     // font-family: $font_dirtyline;
//     font-size: 4.2rem;
//     font-weight: 100;
// }

@media screen and (min-width: 62.5em) {  
    .project-intro {
        display: flex;
        flex-direction: row;
        width: 60rem;
        gap: 2rem;
        margin: 0 auto;
    }
    
    .intro-para, 
    .intro-goals {
        width: 100%;
        margin: 0 auto;
    }

    .project-img-1 {

    }
}

@media screen and (max-width: 57.5em) {
    .project-mobile-img-wrapper {
       flex-direction: column;
       align-items: center;
       gap: 0;
       img {
        max-width: 17rem;
       }
    }
}

@media screen and (max-width: 43.75em) {
    .project-mobile-img-wrapper {
        img {
            max-width: 16rem;
        }
    }
}

@media screen and (max-width: 40.625em) {
    .project-mobile-img-wrapper {
        img {
            max-width: 15rem;
        }
    }
}


@media screen and (max-width: 26.25em) {
    .project-mobile-img-wrapper {
        img {
            max-width: 14rem;
        }
    }
}