.site-branding {
	border-bottom: 1.5px solid $color_text_white;
	.site-title {
		margin-left: 1rem;
		font-weight: 600;
	}
	p {
		a {
			color: $color_text_white;
	}
}
}

.main-navigation {
	position: fixed;
    bottom: 150px;
    right: -120px; 
	transform: rotate(90deg);
	z-index: 1000;
	font-size: .85rem;

	ul {
		list-style: none;
		
		display: flex;
		flex-direction: row;
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		padding-left: 1rem;

	a {
		display: inline;
		text-decoration: none;
	}

}
}

footer {
	.site-info{
		border-bottom: 2px solid $color_text_white;
	}
}

@media screen and (min-width: 37.5em) {

	.main-navigation ul {
		display: flex;
	}
}

