a {
	text-decoration: none;
	color: $color_text_white;

	&:visited {
		color: $color_text_white;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color_text_white;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
