#pillar {
  display: block;
  margin: 6.25rem 1.25rem;
  width: 50rem;
  transform: translateX(6.25rem);
  perspective: 1900px;
  margin-left: -5rem;
}

.wrap {
  display: flex;
  transform: rotateY(0deg);
  transition: all 1.0s cubic-bezier(.25, .8, .25, 1);
  transform-style: preserve-3d;
}

.row {
  width: 50rem;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 2rem;
  font-family: $font_text;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 3.0s cubic-bezier(.25, .8, .25, 1);

  &:hover .wrap {
    transform: rotateY(-60deg);
    cursor: pointer;
  }

  &:hover {
    z-index: 1;
  }

  &:hover .left {

    &:before {
      width: 55%;
    }
  }

  .left {
    width: 43rem;
    padding: 15px 10px;
    text-align: right;

    transform-style: preserve-3d;
    transform: rotateY(0deg);

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      transition: width 1s ease-in-out;
    }

  }

  .right {
    width: 43rem;
    padding: 15px 10px;
    text-align: left;
    transform: rotateY(92deg);
    transform-origin: left center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }

}

// 1184px
@media screen and (max-width: 74rem) {
  .row {
    width: 60rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-left: 5rem;

    .left {
      transform: rotateY(2deg);
    }
    .right {
      transform: rotateY(95deg);
    }
  }
}

// 1000px
@media screen and (max-width: 62.5rem) {
  .row {
    width: 50rem;
    font-size: 1.7rem;
    line-height: 1.7rem;
    margin-left: 5rem;

    .left {
      transform: rotateY(2deg);
    }
    .right {
      transform: rotateY(98deg);
    }
  }
}

// 880px
@media screen and (max-width: 55rem) {
  .row {
    width: 45rem;
    font-size: 1.6rem;
    line-height: 1.6rem;

    .left {
      transform: rotateY(2deg);
    }
    .right {
      transform: rotateY(99deg);
    }
  }
}

// 760px
@media screen and (max-width: 47.5rem) {
  .row {
    // margin-left: .5rem;
  }
}

// 696px
@media screen and (max-width: 43.5rem) {
  .row {
    width: 35rem;
    // font-size: 1.4rem;
    // line-height: 1.5rem;
  } 
}

// 570px
@media screen and (max-width: 35.625rem) {
  .row {
    width: 25rem;
}
}
// 400px
@media screen and (max-width: 25rem) {
  .row {
    width: 20rem;
    // font-size: .9rem;
    // line-height: .9rem;
    // margin-left: -2rem;
  } 
}