header {
    position: relative;
    .scroll-down {
      position: absolute;
      left: 50%;
      bottom: 0%;
      transform: translateX(-50%);
      width: 22px;
      height: 35px;
      border: solid 2px $color_text_white;
      border-radius: 26px;
      background-color: $color__background-body;
      
      &:before, &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: $color_orange;
        border-radius: 100%;
        left: 50%;
        transform: translateX(-51%);
      }
  
      &:before {
        top: 14px;
        animation: dot1 2s infinite;
      }
  
      &:after {
        top: 5px;
        animation: dot2 2s infinite;
      }
    }
  }
  
  @keyframes dot1 {
    0% {
      opacity: 1;
      transform: translateX(-51%) translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-51%) translateY(9px);
    }
  }
  
  @keyframes dot2 {
    0% {
      opacity: 0;
      transform: translateX(-51%) translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateX(-51%) translateY(9px);
    }
  }
  