.spinning-svg {
    fill: black;
    stroke: black;
    width: .8rem;
    // transition: transform 0.1s ease; /* Controls how smooth the rotation is */
}

section.separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $color_text_white;
    padding-top: 3rem;
    margin-top: 3rem;
    h2 {
        font-size: 3.5rem;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 0;
        font-family: $font_hero;
        text-shadow: 
        1px 1px 0 #000,
        2px 2px 0 #000,
        3px 3px 0 #000;
    }
}
