.marquee {
    display: flex;
    overflow: hidden;
    height: 10vh;
    user-select: none;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-width: 100%;
    transition: transform 0.1s ease;
    position: relative; /* Added for positioning */
}

.marquee__group span {
    color: rgb(95, 9, 9);
    font-size: 5vw;
    font-weight: 800;
    white-space: nowrap;
    font-family: $font__text
}

@media only screen and (min-width: 360px) {
    .marquee__group span {
        font-size: 40px;
    }
}
