// stylelint-disable value-keyword-case
$font__main: "Numans", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font_hero: "Poiret One", sans-serif;
$font_fat: "Krona One", sans-serif;
$font_text: "Numans", sans-serif;
$font_comp: "Allan", serif;
$font_comp2: "Trochut", sans-serif;


