// stylelint-disable value-keyword-case
$font__main: "Hind Madurai", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font_righteous: "Righteous", sans-serif;
$font_hind: "Hind Madurai", sans-serif;
$font_cormorant: "Cormorant Upright", system-ui;


